* {
font-family: sans-serif;
}

html, 
body {
    height: 100%;
}

.main{
    width: 100vw;
}

#calculator-header{
    display: flex;
    justify-content: center;
}

#salaryPackageCalculatorForm{
    background-color: #c1d3e9;
    padding: 1rem;
    border-radius: 5px;
}
#salaryPackageCalculatorForm label{
    margin: .1rem;
    
}
.salary-packaging-calculator{
    width: 50%;
    margin: auto;
}

.selector-container{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.error-message{
    margin-top: .1rem;
    color:red;
    font-weight:600;
    font-size: 12px;
    letter-spacing: .05rem;
}
.salary-sacrifice-limit-container{
    margin-top: 1rem;
}